@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
#main
{
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    /* padding: 1rem; */
}
#back{
    border: black;
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 1px solid white;
    /* background-color: #4a4e69; */
}
#workarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1537px;
    /* border: 1px solid red; */
    /* background-color: rgb(58, 54, 54); */
}
#nav{
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100px; */
    /* border: 1px solid white; */
    padding: 20px 0;
}
#nav img{
    width: 120px;
}
#nleft,#nright{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
#hero
{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */
    /* background-color: wheat; */
}
#heroleft{
    min-width: 50%;
    /* background-color: yellow; */
    /* height: 100px; */

}

#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    font-weight: lighter;
    font-size: 11vw;
    text-transform: uppercase;
    font-family: 'kajiro';
    line-height: 0.9;
}
#heroleft .elem h1:nth-child(1)
{
    top: 0;
}
#heroleft .elem{
    position: relative;
    height: 8.5vw;
    overflow: hidden;
    /* background-color: red; */
}
#heroleft button{
    padding: 1vw 3vw;
    font-size: 4vw;
    /* font-weight: bolder; */
    word-spacing: 1px;
    /* letter-spacing: 5px; */
    font-family: 'kajiro';
    pointer-events: all;
}
#heroright {
    width: 22%;
    color: white;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#heroright p{
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    /* margin-bottom: 50px; */
}
#heroright #imagediv{
    width: 100%;
    height: 250px;
    background-image: url(https://cdn.wallpapersafari.com/94/76/tdSRNG.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
#heroright p:nth-child(3)
{
    /* color: red; */
    margin-bottom: 30px;
}